*,
*:before,
*:after {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	font-size: 18px;
	--cardW: 14em;
	--cardH: 20em;
	--cardZInc: 2em;
}
body {
	height: 100vh;
    overflow-y: scroll;
	overflow-x: hidden;
}
.holewrapper{
  position: absolute; 
  top: calc(50% - 10em);
  left: calc(50% - 10em);
  width: 20em;
  height: 20em;
  border: 4px dotted var(--secondary-color);
  border-radius: 50%;
  overflow: hidden;
  transition: all 2s;
}
.holewrapper:hover{
	transform: rotate(360deg);
}
.holewrapper.clicked:hover{
	transform: none;
  }
.holewrapper.clicked{
	animation-name: borderanimation;
  	animation-duration: 1s;
  	animation-fill-mode: forwards;
}
.relative{
	position: relative;
}
@keyframes borderanimation {
	from {
		top: calc(50% - 10em);
		left: calc(50% - 10em);
		border-radius: 50%;
		width: 20em;
		height: 20em;
	}
	to {
		border:1px solid var(--primary-color);
		border-radius: 0%;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
.holewrapper h1{
	font-size: 100px;
	position: fixed;
	right: 200px;
	top: 100px;
	width: 80px;
	color:var(--primary-color);
}
.holewrapper.clicked .main_section{
	animation-name: masknone;
  	animation-duration: 1s;
  	animation-fill-mode: forwards;
}
@keyframes masknone {
	0% {
		mask: var(--mask-color);  
		-webkit-mask: var(--mask-color);  
	}
	50% {mask: var(--maskhover-color);  
		-webkit-mask: var(--maskhover-color); 
	}
	100% {
		mask: none;
		-webkit-mask: none;
	}
}
.main_section {
	display: block;
	margin: auto;
	position: relative;
	height: calc(var(--cardH) * 25 - 1.5em);
	transition: all 2s;
    mask: var(--mask-color);  
	-webkit-mask: var(--mask-color);  
    -webkit-mask-repeat: no-repeat;
}
.nomask{
    mask: none;
    -webkit-mask: none;
}
/* Grid */
.cards,
.stack {
	transform-style: preserve-3d;
}
.cards {
	--scroll: 0;
	display: grid;
	grid-template: repeat(25, var(--cardH)) / var(--cardW);
	grid-gap: 1.5em;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) rotateX(45deg) rotateZ(45deg)
		translateY(var(--scroll));
	transform-origin: 50% 0;
}
.noclick{
	pointer-events: none;
}
.stack {
	display: block;
	position: relative;
}
.items {
    overflow: hidden;
	color: #000;
	font-size: 0.5em;
	line-height: 1.25;
	-webkit-font-smoothing: antialiased;
}
.items img{
    transition: all .7s;
    width: 100%;
    height: 100%;
}
.items_info{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.items_info img{
    width: 30%;
    height: auto;
	filter: var(--iconmain-color);
}
.items h2 {
	color: var(--point-color);
	font-size: 2em;
	font-weight: 500;
    margin-top: 0.5em;
	margin-bottom: 0.25em;
}
.items h3 {
    color: var(--secondary-color);
	font-weight: 500;
	width: 90%;
	/* margin-right: 0.75em; */
}
/* Card backgrounds */
.stack:nth-of-type(4n + 2) .card {
	background-position: 0 100%;
}
.stack:nth-of-type(4n + 3) .card {
	background-position: 100% 0;
}
.stack:nth-of-type(4n + 4) .card {
	background-position: 100% 100%;
}
/* Card hover */
.stack:hover .top,
.stack:focus .top {
	transform: translateZ(calc(var(--cardZInc) * 4));
}
.stack:hover .mid-top,
.stack:focus .mid-top {
	transform: translateZ(calc(var(--cardZInc) * 3));
}
.stack:hover .mid-bottom,
.stack:focus .mid-bottom {
	transform: translateZ(calc(var(--cardZInc) * 2));
}
.stack:hover .bottom,
.stack:focus .bottom {
	transform: translateZ(var(--cardZInc));
}
.stack:hover .shadow,
.stack:focus .shadow {
	filter: blur(5px);
	-webkit-filter: blur(5px);
	opacity: 0.2;
}
.card {
    background: var(--home-color);
    outline: 1px solid var(--secondary-color);
	color: #000;
	position: absolute;
	transition: all 0.3s;
	width: 100%;
	height: 100%;
}
.stack:hover .card{ 
    background: none;
	padding: 0.5em;
}
.stack:hover .card:first-child{
    background: var(--home-color);
}
.stack:hover .item_img{
    opacity: 0; 
    background:none;
}
.stack:hover .items_info{
    opacity: 1;
}
.top {
	transform: translateZ(10px);
	z-index: 4;
}
.mid-top {
	transform: translateZ(3px);
	z-index: 3;
}
.mid-bottom {
	transform: translateZ(2px);
	z-index: 2;
}
.bottom {
	transform: translateZ(1px);
	z-index: 1;
}
.shadow {
	background: #000;
	filter: blur(2px);
	-webkit-filter: blur(2px);
	opacity: 0.4;
}

/* Alter grid at breakpoints */
@media screen and (min-width: 361px) {
	.main_section {
		height: calc(var(--cardH) * 13 - 1.5em);
	}
	.cards {
		/* 2가로 13세로배치 (25< 26개) */
		grid-template: repeat(13, var(--cardH)) / repeat(2, var(--cardW));
	}
}
@media screen and (min-width: 641px) {
	.main_section {
		height: calc(var(--cardH) * 9 - 1.5em);
	}
	.cards {
		/* 3가로 9세로배치 (25< 27개) */
		grid-template: repeat(9, var(--cardH)) / repeat(3, var(--cardW));
	}
}
@media screen and (min-width: 961px) {
	.main_section {
		height: calc(var(--cardH) * 7 - 1.5em);
	}
	.cards {
		/* 4가로 7세로배치 (25< 28개) */
		grid-template: repeat(7, var(--cardH)) / repeat(4, var(--cardW));
	}
}
@media screen and (min-width: 1281px) {
	.main_section {
		height: calc(var(--cardH) * 5 - 1.5em);
	}
	.cards {
		/* 5가로 5세로배치 */
		grid-template: repeat(5, var(--cardH)) / repeat(5, var(--cardW));
	}
}

/* Dark mode optimization */
@media screen and (prefers-color-scheme: dark) {
	body {
		background: #3d3d3d;
	}
}
