.social_icon {
    z-index: 10;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: var(--primary-color);
    top: 50%;
    left: 30px;
    width: 50px;
    height: 300px;
    position: fixed;
    margin-top: -150px;
    outline: 2.5px dashed var(--secondary-color);
}

.social_icon ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social_icon svg {
    width: 1.3em;
    height: 1.3em;
    fill: var(--text-color);
    transition: all .5s;
}

.social_icon p {
    display: block;
    width: auto;
    height: 20px;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    transition: all .5s;
    position: relative;
    transform: rotate( -90deg);
}

.social_icon ul li {
    display: block;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
    transition: all .5s;
}
.social_icon ul li:hover{
    color: var(--primary-color);
}


.social_icon p:after {
    right: -66px;
    width: 25px;
    height: 1px;
    bottom: 11px;
    /* bottom: 10px; */
    content: "";
    display: block;
    position: absolute;
    transition: all 1s;
    background-color: var(--text-color);
}

@media only screen and (max-width: 991px) {
    .social_icon {
        outline: none;
        width: 100%;
        height: auto;
        margin-top: 0;
        bottom: 10px;
        left: 0;
        display: flex;
        top: unset;
        text-align: center;
        flex-direction: row-reverse;
        justify-content: center;
        padding: 0 0;
        align-items: center;
    }

.social_icon svg {
    width: 1.5rem;
    height: 1.5rem;
}
    .social_icon p {
        top: unset;
        left: unset;
        width: unset;
        height: unset;
        white-space: nowrap;
        position: relative;
        transform: unset;
        font-size: 1rem;
        margin: 10px 65px 10px 0;
        z-index: 1000;
    }
    .social_icon p::after{
        right: -45px;
    }
    .social_icon ul {
        margin: 10px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .social_icon ul li {
        margin: 0 10px 0 0;
    }
}